/* ==== Google font ==== */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,900);
@import url('http://fonts.googleapis.com/css?family=Ek+Mukta:400,600,700');

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
body {font-family: 'Ek Mukta', sans-serif;color: #666;background: #EBEBEB;font-size: 16px;line-height: 1.6em;font-weight: 400;}
html, body {width:100%; padding:0; margin:0;}

::-moz-selection{background:red;color:#fff;text-shadow:none}
::selection{background:red;color:#fff;text-shadow:none}
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

h1 {font-size: 38px;}
h2 {font-size: 36px;}
h3 {font-size: 32px;}
h4 {font-size: 28px;}
h5 {font-size: 24px;}
h6 {font-size: 20px;}

h1,h2,h3,h4,h5,h6 {font-family: 'Roboto', sans-serif;font-weight: 600;color: #111;}

p {margin: 0 0 20px;line-height: 1.3;}

a {
   color: #333;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}

a:hover,
a:focus {text-decoration: none;color: #E52E2E;}

.center{text-align: center; margin: 0 auto;}
.f-right{float: right;}
.f-left{float: left;}
.t-right{text-align: right;}
.t-left{text-align: left;}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.post{}
.post:after, .post:before, article:after, article:before, section:after, section:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

/* --Line-- */
.line{border-bottom: 1px solid #bbb;width: 100%;margin: 20px 0;}

/* --Page-- */
body.index-page {}
body.sub-page {padding-top: 30px;background-color: #F9F9F9;}
body.sub-page .logo {margin: 110px 0 80px;background: url(../images/bg.jpg) fixed; padding: 30px 0 50px;}

/* ---------------------------------------------------------------------------- */
/* --------------------------------Header + Nav-------------------------------- */
/* ---------------------------------------------------------------------------- */
header{text-align: center;}
.logo{margin: 40px 0;}

.top-social{font-size: 20px; text-align: center;}
.top-social > li > a{padding: 7px 0 0 0;}
 ul.top-social  li{height: 38px; width: 38px; margin-right: 5px;}
 ul.top-social a i{color: #fff;line-height: 1.9;height: 38px; width: 38px;border-radius: 50%;background-color: #252628;}
 ul.top-social a i:hover{background-color:#555;}
/* ---------------------------------------------------------------------------- */
/* ----------------------------------Container--------------------------------- */
/* ---------------------------------------------------------------------------- */
.index-page, .sub-page {margin: 60px 10px 60px ;}
#page-content .item {background-color: #fff;width:220px;box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.18);}
#page-content .item span.time{color: #999;font-size: 14px;}
#page-content .item img {padding: 0px;display: block;max-width: 100%;width: 100%;height:100%;min-height:120px;}
#page-content .content-item{padding: 10px 20px;}
#page-content h3.title-item {font-family: 'Ek Mukta', sans-serif;font-size: 15px;margin: 7px 0 5px;overflow: hidden;}
#page-content .content-item ul{margin: 0;font-size: 14px;}
#page-content .content-item ul li a{color: #555;}
#page-content .bottom-item{border-top: 1px solid #ddd;min-height: 50px;}
#page-content .share{}
#page-content .user{color: #777;font-size: 13px;line-height: 2.8;padding: 5px;}
#page-content .user img{width: 38px; height: 38px;float:right;display: inline-block;margin-left: 7px;}

article {background-color: #fff;max-width: 750px;box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.18);text-align: justify;}
article h2{padding-top: 50px;}
article h3{margin: 0;padding: 0;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Contact-------------------------------- */
/* ---------------------------------------------------------------------------- */
.contact h2{font-size: 34px; font-weight: 500;letter-spacing: 3px;padding-top: 20px ;text-align: center;}

#contact_form {padding:25px;}

#ff label {cursor:pointer;margin:px 0;display:block;font-weight:bold;}
#ff input {display:block;width:100%;color:#000;padding:10px;margin: 5px 0 25px 0;}
#ff textarea {display:block;width:100%;height:200px;background-color:#fff; color:#000;padding:10px;margin: 5px 0 25px 0;}

#ff .sendButton {border: none;cursor:pointer;background-color: #333;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;;width:100px;color:#ffffff;}
#ff .sendButton:hover {background-color: #000;}


/* ---------------------------------------------------------------------------- */
/* -------------------------------------Btn------------------------------------ */
/* ---------------------------------------------------------------------------- */
.btn{color: #fff;padding: 0px 10px;font-weight: bold;}
.btn-share{font-weight: 500;color: #555;border-right: 1px solid #ddd;margin: 0;border-radius: none;height: 51px; width: 75px;margin-top: -1px;padding: 14px;}
.btn-search{color: #333333;
  background-color: #ddd;
  padding: 6px 12px;}
.btn-search:hover{color: #333333;
  background-color: #adadad;
  }
.btn-1{background-color: #E52E2E; }
.btn-1:hover{background-color: transparent; color: #E52E2E;}
.btn-2{background-color: #76C75D; }
.btn-2:hover{background-color: transparent; color: #76C75D;}
.btn-3{background-color: #36A08A; }
.btn-3:hover{background-color: transparent; color: #36A08A;}
.btn-4{background-color: #9E76C2; }
.btn-4:hover{background-color: transparent; color: #9E76C2;}
.btn-5{background-color: #5DB4C7; }
.btn-5:hover{background-color: transparent; color: #5DB4C7;}
