@charset "utf-8";
body {
    padding-top:80px
}
.stui-header__top {
    position:fixed;
    top:0;
    z-index:999;
    width:100%;
    min-height:60px;
    background:#292838
}
.top-fixed-down {
    margin-top:-80px
}
.stui-header__side {
    float:right
}
.stui-header__logo,.stui-header__menu,.stui-header__search {
    float:left
}
.stui-header__logo {
    margin-top:5px
}
.stui-header__search {
    position:relative;
    width:300px;
    margin-left:50px;
    margin-top:12px
}
.stui-header__search .form-control {
    height:36px;
    padding:0 15px;
    border-radius:18px;
    background-color:rgba(255,255,255,.2);
    border:0
}
.stui-header__search .submit {
    display:block;
    position:absolute;
    top:0;
    right:0;
    width:36px;
    height:34px;
    line-height:36px;
    text-align:center;
    background:0;
    border:0;
    cursor:pointer
}
.stui-header__search .submit .icon {
    font-size:14px;
    color:#999
}
.stui-header__menu li.active a {
    color:#ff920b
}
.stui-header__menu {
    position:relative
}
.stui-header__menu>li {
    position:relative;
    float:left;
    margin-left:30px;
    padding:15px 0 10px
}
.stui-header__menu>li>a {
    font-size:16px;
    line-height:30px;
    color:#fff
}
.stui-header__menu .dropdown li.active a {
    background-color:#f90;
    color:#fff
}
.stui-header__menu>li .dropdown {
    display:none;
    width:520px;
    position:absolute;
    z-index:999;
    top:100%;
    left:-200px;
    padding:20px 10px 10px 20px;
    border-radius:4px;
    background-color:#fff;
    box-shadow:0 2px 8px rgba(0,0,0,.2)
}
.stui-header__menu>li .dropdown:before {
    content:" ";
    width:10px;
    height:10px;
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg);
    position:absolute;
    top:-5px;
    left:230px;
    background-color:#fff
}
.stui-header__menu>li:hover .dropdown {
    display:block
}
.stui-header__menu .dropdown li {
    float:left;
    width:16.6666667%;
    padding-bottom:10px;
    padding-right:10px;
    text-align:center
}
.stui-header__menu .dropdown li a {
    display:block;
    padding:6px;
    border-radius:4px;
    background-color:#f5f5f5
}
.stui-header__user {
    float:right
}
.stui-header__user>li {
    float:left;
    position:relative;
    padding:18px 0 10px;
    margin-left:30px
}
.stui-header__user>li>a,.stui-header__user>li>a .icon {
    display:inline-block;
    font-size:24px;
    line-height:24px;
    color:#fff
}
.stui-header__user>li .dropdown {
    display:none;
    position:absolute;
    z-index:999;
    width:240px;
    top:100%;
    right:-15px;
    padding:15px;
    font-size:12px;
    color:#999;
    background-color:#fff;
    box-shadow:0 2px 8px rgba(0,0,0,.2);
    border-radius:4px;
    background-color:#fff;
    box-shadow:0 2px 8px rgba(0,0,0,.2)
}
.stui-header__user>li .userdown:before,.stui-header__user>li .dropdown:before {
    content:" ";
    width:10px;
    height:10px;
    -webkit-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg);
    position:absolute;
    top:-5px;
    right:22px;
    background-color:#fff
}
.stui-header__user>li:hover .userdown,.stui-header__user>li:hover .dropdown {
    display:block
}
.stui-header__user .userdown .history li,.stui-header__user .dropdown .history li {
    position:relative;
    padding:10px 0
}
.stui-header__user .dropdown .history li:first-child {
    margin-top:10px
}
.stui-header__user .userdown .history li:last-child,.stui-header__user .dropdown .history li:last-child {
    padding-bottom:0
}
.stui-header__user>li .userdown {
    display:none;
    position:absolute;
    z-index:999;
    width:80px;
    top:100%;
    right:-15px;
    padding:15px;
    font-size:12px;
    color:#999;
    background-color:#fff;
    box-shadow:0 2px 8px rgba(0,0,0,.2);
    border-radius:4px;
    background-color:#fff;
    box-shadow:0 2px 8px rgba(0,0,0,.2)
}
.stui-banner {
    position:relative
}
.stui-banner__item {
    position:relative;
    display:block;
    width:100%
}
.stui-banner__pic {
    display:block;
    position:relative
}
.stui-banner__switch {
    position:absolute;
    bottom:20px;
    left:0;
    z-index:99;
    width:100%;
    height:120px
}
.stui-banner__switch ul {
    margin-top:15px;
    padding:0 10px;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex
}
.stui-banner__switch ul li {
    padding:10px;
    -webkit-box-flex:1;
    -webkit-flex:1;
    flex:1;
    text-align:center
}
.stui-banner__switch ul li span {
    border:3px solid rgba(255,255,255,0.8)
}
.stui-banner__switch ul li.active span {
    border:3px solid #f60
}
.carousel-control {
    position:absolute;
    z-index:99;
    top:0;
    bottom:0;
    display:block;
    width:100px;
    height:100%
}
.carousel-control .icon {
    position:absolute;
    top:50%;
    margin-top:-25px;
    display:block;
    width:50px;
    height:50px;
    text-align:center;
    font-size:30px;
    line-height:50px;
    background-color:rgba(0,0,0,0.6);
    color:#fff;
    border-radius:50%
}
.carousel-control.left {
    left:0
}
.carousel-control.left .icon {
    left:30px
}
.carousel-control.right {
    right:0
}
.carousel-control.right .icon {
    right:30px
}
.stui-pannel-screen {
    background-color:#292838
}
.stui-index__screen {
    position:relative
}
.stui-index__screen li {
    position:relative;
    float:left;
    width:25%;
    padding-left:20px;
    border-left:1px solid #333;
    text-align:center
}
.stui-index__screen li:first-child {
    border-left:0;
    padding-left:0
}
.stui-index__screen li a {
    display:block;
    float:left;
    width:25%;
    line-height:30px;
    color:#ddd;
    font-size:16px
}
.stui-index__screen dt,.stui-index__screen li a:hover {
    color:#f60
}
.stui-content {
    background-color:#f8f8f8
}
.stui-content__detail,.stui-content__thumb {
    display:table-cell;
    vertical-align:top
}
.stui-content__thumb .v-thumb {
    width:190px
}
.stui-content__thumb .w-thumb {
    width:300px
}
.stui-content__detail {
    width:100%;
    padding-left:20px
}
.stui-content__detail .title {
    margin:10px 0 10px;
    line-height:30px
}
.stui-content__detail .data {
    margin-bottom:10px
}
.stui-content__detail .data li {
    float:left;
    margin-right:20px
}
.stui-content__detail .desc {
    padding-left:42px
}
.stui-content__detail .desc .left {
    margin-left:-42px
}
.stui-content__detail .play-btn {
    padding-left:42px;
    margin-top:20px
}
.stui-content__detail .play-btn .shere {
    margin-top:5px
}
.stui-player__item {
    padding:15px 15px;
    position:relative
}
.stui-player__detail {
    margin-top:20px
}
.stui-player__detail .more-btn {
    float:right;
    padding-top:10px
}
.stui-player__detail .more-btn li {
    display:inline-block;
    margin-left:10px
}
.stui-player__detail .more-btn .btn {
    padding:6px 15px
}
.stui-player__detail .title {
    margin:0 0 10px
}
.stui-player__detail .detail-content {
    padding-top:10px
}
.stui-player__detail .desc {
    padding-left:42px
}
.stui-player__detail .desc .left {
    margin-left:-42px
}
.autocomplete-suggestions {
    padding:0 10px;
    margin-top:5px;
    border-radius:4px;
    background-color:#fff;
    box-shadow:0 2px 10px rgba(0,0,0,.05)
}
.autocomplete-suggestions.active {
    position:absolute;
    z-index:9999;
    top:100%;
    width:100%
}
.autocomplete-suggestion {
    padding:10px 0;
    cursor:pointer;
    border-top:1px solid #eee
}
.autocomplete-suggestion:first-child {
    border-top:0
}
.mac_results {
    z-index:9999;
    padding:0 10px;
    margin-top:5px;
    border-radius:4px;
    background-color:#fff;
    border:1px solid #eee;
    box-shadow:0 2px 10px rgba(0,0,0,.05)
}
.mac_results li {
    padding:10px 0;
    cursor:pointer;
    border-top:1px solid #eee
}
.mac_results li:first-child {
    border:0
}
.stui-foot {
    padding-top:20px;
    background-color:#f8f8f8
}
@media(min-width:768px) {
    .container {
        width:750px
    }
}@media(min-width:990px) {
    .container {
        width:970px
    }
}@media(min-width:1200px) {
    .container {
        width:1180px
    }
}@media(min-width:1400px) {
    .container {
        width:1400px
    }
}@media(max-width:1023px) {
    .stui-header__logo {
        margin-top:15px
    }
    .stui-header__search {
        width:200px;
        margin-left:20px
    }
    .stui-header__menu>li {
        margin-left:20px
    }
    .stui-header__user>li {
        margin-left:20px
    }
    .stui-header__menu>li:hover .dropdown,.stui-header__user>li:hover .dropdown {
        display:none
    }
    .stui-banner .flickity-page-dots {
        bottom:10px
    }
}@media(max-width:767px) {
    .content-container{
            padding-top: 10%;
    }
    .stui-header__menu{
        display: none;
    }
    body {
        padding-top:50px
    }
    .stui-header__top {
        min-height:50px
    }
    .stui-header__logo {
        margin-top:10px;
        margin-left:10px
    }
    .stui-header__search {
        position:absolute;
        top:0%;
        left:10px;
        right:10px;
        width:auto;
        padding-right:30px
    }
    .stui-header__search .form-control {
        height:32px;
        border-radius:16px
    }
    .stui-header__search .submit {
        right:30px;
        width:32px;
        height:32px;
        line-height:30px
    }
    .stui-header__search .submit .icon {
        font-size:12px
    }
    .stui-header__search.active {
        margin:0;
        top:9px
    }
    .stui-header__search .search-close {
        position:absolute;
        top:6px;
        right:0;
        color:#fff
    }
    .stui-header__menu>li {
        margin-left:10px;
        padding:15px 0 10px
    }
    .stui-header__menu>li>a {
        line-height:20px
    }
    .stui-header__menu>li .dropdown {
        left:-120px;
        width:300px
    }
    .stui-header__menu>li .dropdown:before {
        left:140px
    }
    .stui-header__menu .dropdown li {
        width:33.333333%
    }
    .stui-header__user {
        padding-right:10px
    }
    .stui-header__user>li {
        margin-left:20px;
        padding:10px 0 10px
    }
    .stui-header__user>li>a .icon {
        font-size:20px;
        line-height:20px
    }
    .stui-header__menu>li .dropdown {
        left:-125px
    }
    .stui-content__item {
        padding:20px 15px
    }
    .stui-content__thumb .v-thumb {
        width:125px
    }
    .stui-content__thumb .w-thumb {
        width:160px
    }
    .stui-content__detail {
        padding:0 0 0 10px
    }
    .stui-content__detail .title {
        margin:5px 0 10px;
        font-size:16px;
        line-height:18px
    }
    .stui-content__detail .data {
        margin:0 0 10px;
        font-size:12px
    }
    .stui-content__detail .play-btn {
        margin:0;
        padding:0
    }
    .stui-player__item {
        padding:0 10px
    }
    .stui-player__detail {
        margin:0
    }
    .stui-player__detail .more-btn {
        margin-bottom:10px
    }
    .stui-player__detail .more-btn {
        float:none;
        padding:10px;
        display:-webkit-box;
        display:-webkit-flex;
        display:flex
    }
    .stui-player__detail .more-btn li {
        margin:0;
        padding:0 5px;
        -webkit-box-flex:1;
        -webkit-flex:1;
        flex:1;
        text-align:center
    }
    .stui-player__detail .more-btn .btn {
        display:block;
        padding:6px
    }
    .stui-player__detail .data .title {
        font-size:16px
    }
    .stui-player__detail.detail .title {
        font-size:16px
    }
    .stui-pannel-m50 {
        margin:0
    }
    .stui-index__screen:before,.stui-index__screen:after {
        display:none
    }
    .stui-index__screen li {
        float:none;
        border:0;
        width:100%;
        padding:15px 0;
        overflow:hidden
    }
    .stui-index__screen li:first-child {
        padding:0 0 15px
    }
    .stui-index__screen li:last-child {
        padding:15px 0 0
    }
    .stui-index__screen li a {
        float:none;
        display:inline-block;
        padding:0;
        margin-right:20px;
        width:auto;
        font-size:14px;
        line-height:20px;
        white-space:nowrap
    }
    .stui-mobile__type li {
        padding:0 20px
    }
    .stui-mobile__type li a {
        display:block;
        padding:10px 0;
        text-align:center
    }
    .carousel-control {
        width:50px;
        height:100%
    }
    .carousel-control .icon {
        margin-top:-15px;
        width:30px;
        height:30px;
        font-size:20px;
        line-height:30px
    }
    .carousel-control.left .icon {
        left:10px
    }
    .carousel-control.right .icon {
        right:10px
    }
    .stui-page li {
        width:auto;
        margin:0;
        padding:0 4px 0 4px
    }
    .stui-page li a,.stui-page__box li .num {
        display:block;
        padding:5px 10px;
        text-align:center
    }
    .stui-extra {
        right:10px;
        bottom:65px
    }
    .stui-extra li {
        padding:8px 0 0
    }
    .stui-extra li a,.stui-extra li span {
        width:35px;
        height:35px;
        line-height:35px;
        font-size:16px
    }
    .stui-extra li a .icon,.stui-extra li span .icon {
        font-size:16px
    }
    .stui-extra li a img {
        margin-top:8px;
        width:18px;
        height:18px
    }
    .stui-foot {
        padding:5px 0 40px 0
    }
}.m-description {
     overflow:hidden;
     text-overflow:ellipsis;
     display:-webkit-box;
     -webkit-line-clamp:5;
     -webkit-box-orient:vertical
 }
@media(max-width:767px) {
    .m-description {
        overflow:hidden;
        text-overflow:ellipsis;
        display:-webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient:vertical
    }
}.page_show {
     margin:20px 0
 }
.page_show a {
    display:inline-block;
    height:40px;
    line-height:40px;
    min-width:40px;
    text-align:center;
    background:#f2f2f2;
    margin-right:2px
}
.page_show a:hover,.page_show a.page_current {
    background:#0A8;
    color:#FFF
}
.playtype {
    font-size:14px;
    color:#999;
    margin-left:3px;
    position:relative;
    top:0;
    font-weight:normal
}
.on {
    background-color:#f90;
    color:#fff;
    background:linear-gradient(to right,#f90 0,#ff9f16 100%);
    box-shadow:0 5px 10px rgba(255,111,0,.25)
}
a.on:hover {
    color:#fff
}
.select {
    margin-left:2px;
    margin-top:3px;
    border-radius:5px;
    position:absolute;
    text-align:center;
    text-align-last:center
}
.iconm {
    width:1em;
    height:1em;
    vertical-align:middle;
    font-size:28px;
    fill:currentColor;
    overflow:hidden;
    margin-right:8px
}
.wprm {
    padding:0;
    margin:0 auto;
    border-top:1px solid #eee
}
.wprm li:hover {
    background:#292838;
}
.wprm li:nth-child(1) {
    background:#f3c037
}
.wprm li:nth-child(2) {
    background:#00a2f1
}
.wprm li:nth-child(3) {
    background:#e4653f
}
.wprm li:nth-child(4) {
    background:#a5c83a
}
.wprm li:nth-child(5) {
    background:#cc99ff
}
.wprm a {
    color:#fff
}
.wprm li {
    float:left;
    margin:6px;
    padding:0 14px;
    border-radius:2px;
    font-size:14px;
    line-height:32px;
    height:32px;
    background:#f80
}
.hy-video-head {
    padding:10px
}
.hy-video-head h4 {
    padding-bottom:15px
}
.hy-video-head h4 {
    border-bottom:1px solid #e2e2e2
}
.input-group {
    position:relative;
    display:table;
    border-collapse:separate
}
.input-group-addon:first-child {
    border-right:0
}
.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),.input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
    border-top-right-radius:0;
    border-bottom-right-radius:0
}
.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:last-child>.btnn,.input-group-btn:last-child>.btn-group>.btnn,.input-group-btn:last-child>.dropdown-toggle,.input-group-btn:first-child>.btnn:not(:first-child),.input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
    border-top-left-radius:0;
    border-bottom-left-radius:0
}
.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group {
    margin-left:-1px
}
.input-group-btn>.btn {
    position:relative
}
.btn-danger {
    color:#fff;
    background-color:#d9534f;
    border-color:#d43f3a
}
.btnn {
    display:inline-block;
    padding:6px 12px;
    margin-bottom:0;
    font-size:14px;
    font-weight:400;
    line-height:1.51857143;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-image:none;
    border:1px solid transparent;
    border-radius:4px
}
.input-group-addon {
    padding:6px 12px;
    font-size:14px;
    font-weight:400;
    line-height:1;
    color:#999;
    text-align:center;
    background-color:#eee;
    border:1px solid #ccc;
    border-radius:4px
}
.input-group-addon,.input-group-btn {
    width:1%;
    white-space:nowrap;
    vertical-align:middle
}
.input-group-addon,.input-group-btn,.input-group .form-control {
    display:table-cell
}
.form-control {
    height:35px;
    outline:0;
    -webkit-appearance:none;
    width:100%;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    color:#f60;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.input-group-btn {
    position:relative;
    font-size:0;
    white-space:nowrap
}
.input-group-addon,.input-group-btn {
    width:1%;
    white-space:nowrap;
    vertical-align:middle
}
.myui-player__item {
    position:relative
}
.myui-player__item .fixed {
    width:500px
}
.myui-player__item .fixed {
    position:fixed;
    z-index:998;
    right:0;
    bottom:0;
    padding:10px;
    background-color:#fff;
    box-shadow:0 2px 5px rgba(0,0,0,.1)
}
.myui-player__item .player-fixed-off {
    display:none;
    position:absolute;
    top:-10px;
    left:-10px;
    width:20px;
    height:20px;
    text-align:center;
    line-height:20px;
    background-color:#fff;
    border-radius:50%;
    color:#333;
    box-shadow:0 2px 5px rgba(0,0,0,.1)
}
@keyframes masked-animation {
    0% {
        background-position:0 0;
    }
    100% {
        background-position:-100% 0;
    }
}.masked p {
     display:block;
     background-image:-webkit-linear-gradient(left,#3498db,#f47920 10%,#d71345 20%,#f7acbc 30%,#ffd400 40%,#3498db 50%,#f47920 60%,#d71345 70%,#f7acbc 80%,#ffd400 90%,#3498db);
     color:transparent;
     -webkit-text-fill-color:transparent;
     -webkit-background-clip:text;
     background-size:200% 100%;
     animation:masked-animation 4s infinite linear;
 }
.stui-foot.clearfix {
    background:#292838;
}
